<!DOCTYPE html>
<html>
<head>
  <title>Hogwards</title>
  <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="nav_bar">
    <ul>
      <li><a href="/students">Home</a></li>
      <li><a href="/students/new">New Student</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
