<form action="/students" method="post">
  <label for="first-name">First Name</label>
  <input id='first-name' type="text" name="first_name">
  <label for="second-name">Second Name</label>
  <input id='second-name' type="text" name="second_name">
  <select name="house_id" id="house-id">
    <% for house in @houses %>
      <option id="house-id" name="house_id" value="<%= house.id %>"><%= house.name %></option>
    <% end %>
  </select>
  <label for="age">Age</label>
  <input id='age' type="text" name="age">
  <button type="submit" name="button">SUBMIT</button>
</form>
